<div class="row">
  <div class="col-lg-8 col-lg-offset-2">
    <footer>
    
        <ul class="list-inline text-center footer-links">
            <li>
                <a href="mailto:donald.shenaj@disroot.org" title="Email me">
                <span class="fa-stack fa-lg">
                    <i class="fas fa-envelope fa-stack-1x fa-inverse"></i>
                </span>
                </a>
            </li>
            <li>
                <a href="https://github.com/donaldssh" title="GitHub" target="_blank">
                <span class="fa-stack fa-lg">
                    <i class="fab fa-github fa-stack-1x fa-inverse"></i>
                </span>
                </a>
            </li>
            <li>
                <a href="https://www.linkedin.com/in/donald-shenaj-aaa5b51bb/" title="LinkedIn" target="_blank">
                    <span class="fa-stack fa-lg">
                        <i class="fab fa-linkedin fa-stack-1x fa-inverse"></i>
                    </span>
                </a>
            </li>
        </ul>
            
    </footer>
  </div>
</div>
