<div class="row">
  <div class="col-lg-8 col-lg-offset-2">
    <div class="menu">
      <ul>
        <li><a href="{{ site.url }}/">home</a></li>
        <li><a href="{{ site.url }}/research/">research</a></li>
        <li><a href="{{ site.url }}/teaching/">teaching</a></li>
        <!-- <li><a href="{{ site.url }}/projects/">projects</a></li> -->
        <li><a href="{{ site.url }}/blog/">blog</a></li>
        <li><a href="{{ site.url }}/places/">places</a></li>
        <li><a href="{{ site.url }}/music/">music</a></li>
      </ul>
    </div>
  </div>
</div>
